@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

.pagedata {
  /* font-family: "segoe ui"; */
  font-family: "Karla", sans-serif;
}

.PremiumHead {
  text-align: center;
}

.PremiumImage {
  margin-top: 25px;
  width: 200px;
  /* height: 460px; */
}

@media only screen and (max-width: 600px) {
  .PremiumImage {
    margin-top: 25px;
    width: 180px;
    /* height: 280px; */
  }
}

p {
  margin-left: 24px;
}
