@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

.card {
  font-family: "Karla", sans-serif;

  background-color: white;
  max-width: 600px;
  width: 90vw;
  /* padding: 16px; */
  /* align-items: center; */
  margin-bottom: 20px;
  place-items: center;
  display: block;
}

.product {
  display: grid;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
}

.info {
  display: flex;
  padding: 10px 0 5px 10px;
  align-items: center;
}

.nameTime {
  padding-left: 7px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  box-shadow: none !important;
}

.dp {
  height: 35px;
  border-radius: 25px;
}

.postPhoto {
  width: 96%;
  /* object-fit: cover; */
  margin: 10px;

  height: 800px;
  max-height: 280px;
}

/* to zoom card on hover */

@media only screen and (min-width: 600px) {
  .card:hover {
    border: 0.1px solid grey;
    overflow: hidden;
  }

  .card {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: 0.7s ease all;
    -webkit-transition: 0.7s ease all;
    -moz-transition: 0.7s ease all;
  }

  /* .card:hover {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1.05);
  } */
}

.title-caption {
  font-size: 17px;
}
