.feedfull {
  min-height: 100vh;
}

.feed {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-right: 0;

  justify-content: center;
}

.fee {
  flex: 0 60% 20%;
}

.paginationBttns {
  width: 80%;
  height: 50px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 6px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #14406d;
  color: #14406d;
  cursor: pointer;
  border-radius: 80px;
  text-decoration: none;
}

.paginationBttns a:hover {
  color: black;
  background-color: #ddf3f5;
}

.pagiArea {
  position: sticky;
  top: 100%;
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.paginationActive {
  color: #29bb89;
}
